<ion-view title="ePlans" id="page3" >
    <ion-content padding="true" class="has-header">



          <form id="profile-form" class="userInfo">

            <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Plan Name</span>
                  <input type="text" id="name" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Description</span>
                  <input type="text" id="desc" placeholder="">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Content</span>
                  <textarea id="content"></textarea>
                </label>
            </div>

            </form>

        <button id="ePlans-button1" class="button button-assertive button-block" ng-click=submit()>submit</button>
    </ion-content>
</ion-view>
