<ion-view title="Groups" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card">

          <div class="item item-avatar">

            <h2>{{group.name}}</h2>
            <p>{{group.description}}</p>

          </div>

          <div class="item item-body">
            <div class="list">

              <div class="item item-divider">
                  Members
              </div>

              <a class="item" ng-repeat= "mem in group.member" href="#">
                  {{mem | founder}}


              </a>

              <button id="groups-button1" class="button button-assertive button-block" ng-click=showPopup()>Add member</button>    
            </div>
          </div>

          <div class="item item-body">
            <div class="list">

              <div class="item item-divider">
                  Share plans
              </div>
              <ul class="list">

                <li class="item item-toggle" ng-repeat= "plan in eplans">
                   {{plan.name}}
                   <label class="toggle toggle-assertive">
                     <input type="checkbox" ng-checked= "sharep.indexOf(plan.id) > -1" value="{{plan.id}}">
                     <div class="track">
                       <div class="handle" ></div>
                     </div>
                   </label>
                </li>
              </ul>

              <button id="groups-button1" class="button button-assertive button-block" ng-click=save()>Save</button>
              <button id="groups-button1" class="button button-assertive button-block" ng-click=delete()>Delete The plan</button>
            </div>
          </div>



        </div>




    </ion-content>
</ion-view>