<ion-view title="newProfile" id="page3" >
    <ion-content padding="true" class="has-header">
        <div >

            <form id="profile-form" class="user-info">

                <label class="item item-input" id="profile-input1">
                    <span class="input-label">Fullname</span>
                    <input type="text" id="fullname" value={{fullname}}>
                </label>


                <label class="item item-input" id="profile-input1">
                    <span class="input-label">DOB</span>
                    <input type="date" id="DOB">
                </label>

                <label class="item item-input" id="profile-input1">
                    <span class="input-label">Address</span>
                    <input type="address" id="Address">
                </label>

                <label class="item item-input" id="profile-input1">
                    <span class="input-label">Phone Number</span>
                    <input type="number" id="Phone Number">
                </label>

                                <label class="item item-input" id="profile-input1">
                    <span class="input-label">Company</span>
                    <input type="text" id="Company">
                </label>

                <label class="item item-input" id="profile-input1">
                    <span class="input-label">Department</span>
                    <input type="text" id="Department">
                </label>

                <label class="item item-input" id="profile-input1">
                    <span class="input-label">Position</span>
                    <input type="text" id="Position">
                </label>
            </form>
            <button id="ePlans-button1" ng-click="uploadPro1()" class="button button-assertive button-block">submit</button>
        </div>
