<ion-view title="Settings" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="settings-form3" class="list">
            <ion-toggle toggle-class="toggle-assertive" id="settings-toggle1" ng-checked = true>Allowed Notification</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="settings-toggle2" ng-checked = true>Allowed Invited To Groups</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="settings-toggle3">Allowed Using The Location</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="settings-toggle4">more</ion-toggle>
        </form>
    </ion-content>
</ion-view>