<ion-view title="ePlans" id="page3" >
    <ion-content padding="true" class="has-header">

        <div class="list card">

          <div class="item item-avatar">

            <h2>{{plan.name}}</h2>
            <p>{{plan.desc}}</p>
          </div>

          <div class="item item-body">

            <p>
              {{plan.content}}
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>


          </div>

        </div>

    </ion-content>
</ion-view>
